// CSS Variablen
:root{
  --color: #1E283D;
  --main: #EF4C4F;
  --border-color: #1E283D;
  --btn-border-color: #1E283D;
  --btn-hover-color: #fff;
  --fader-color: #1E283D;
  --tooltip: #fff;
  --bg: #fff;
  --body: #F5F6FA;
  --sidebar: #1E283D;
  --accent: #E4E9F2;
  --icons: #fff;
  --beamer-icons: #fff;
  --modal-btn: #1E283D;
  --green: #6BBC68;
  --extendedBtn: #282B2F;
}

$green: #6BBC68;
$main: #EF4C4F;

html, body{
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
  background-color: var(--body);
  color: var(--color);
}

a{
  color: inherit;
}

.page-wrapper{
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.parent{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
}

.modal-wrapper{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
  top: 0; left: 0;
  background: rgba(0,0,0,0.75);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.modal-wrapper.open{
    opacity: 1;
    visibility: visible;
    //display: block;
}

.modal.open{
  opacity: 1;
  visibility: visible;
  z-index: 4;
}

.modal{
  width: 600px;
  height: 400px;
  z-index: 0;
  border-radius: 10px;
  position: absolute;
  margin: 0 auto;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  .btn-close{
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;

    &::before, &::after{
      content: '';
      width: 32px;
      height: 6px;
      display: block;
      background: var(--modal-btn);
    }

    &::before{
      margin-top: 12px;
      border-radius: 6px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:after{
      margin-top: -6px;
      border-radius: 6px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  .modal-content{
    padding: 5%;
    height: 100%;
    box-sizing: border-box;
  }

  form{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
      font-size: 1.4rem;
      text-align: center;
    }

    input[type="text"]{
      border: none;
      color: inherit;
      background: var(--body);
      padding: 1rem;
      margin-top: 20px;
      border-radius: 10px;
      width: 50%;
    }

    .formBtns{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    input[type="submit"], input[type="button"]{
      border: none;
      color: white;
      margin-top: 40px;
      padding: 1rem;
      border-radius: 10px;
      cursor: pointer;
      width: 40%;
      transition: .2s;

      &:hover{
        -webkit-b-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
      }
    }

    input[type="submit"]{
      background: var(--green);
      &:hover{
        background: darken($green, 12%);
      }
    }

    input[type="button"]{
      background: var(--main);
      &:hover{
        background: darken($main, 12%);
      }
    }
  }
}

.modal-wrapper.open .modal{
  opacity: 1;
}

.side-nav{
  background: var(--sidebar);
  height: 100vh;
  box-sizing: border-box;
  flex-basis: 100px;
  transition: all .2s ease-in-out;
  display: flex;
  order: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--icons);


  .savePreset, .savePreset-mobile{
    width: 64px;
    box-sizing: border-box;
    height: 64px;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    transition: all .25s;
    background-image: linear-gradient(to right, #4481eb 0%, #04befe 100%);
    cursor: pointer;

    .fas{
      font-size: 1.6rem;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover, &:focus{
      background: var(--main);
      color: white;
    }
  }

  .avatar{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    transition: all .25s;
    background-image: linear-gradient(to right, #4481eb 0%, #04befe 100%);
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

    .tooltip{
      position: absolute;
      visibility: hidden;
      width: 250px;
      height: 250px;
      bottom: 0;
      left: 80px;
      color: var(--color);
      background: var(--tooltip);
      border-radius: 10px;
      padding: 10px;
      box-sizing: border-box;
      -webkit-b-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
      transition: all .05s;

      //Positioning
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .extendedMode{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .tgl {
        	display: none;

        	&, &:after, &:before, & *, & *:after, & *:before, & + .tgl-btn {
        		box-sizing: border-box;
        		&::selection {
        			background: none;
        		}
        	}

        	+ .tgl-btn {
        		outline: 0;
        		display: block;
        		width: 4em;
        		height: 2em;
        		position: relative;
        		cursor: pointer;
            user-select: none;
        		&:after,
            &:before {
        			position: relative;
        			display: block;
        			content: "";
        			width: 50%;
        			height: 100%;
        		}

        		&:after {
        			left: 0;
        		}

        		&:before {
        			display: none;
        		}
        	}

        	&:checked + .tgl-btn:after {
        		left: 50%;
        	}
        }

        // themes
        .tgl-light {
        	+ .tgl-btn {
        		background: var(--extendedBtn);
        		border-radius: 2em;
        		padding: 2px;
        		transition: background .2s ease;
        		&:after {
        			border-radius: 50%;
        			background: #fff;
        			transition: background .2s ease;
        		}
        	}

        	&:checked + .tgl-btn {
        		background: $green;
        	}
        }
      }

      .colorOptions{
        width: 100%;
        height: auto;
        padding: 10px;
        box-sizing: border-box;

        h3{
          margin-top: 0;
        }

        .designOptionsWrapper{
          display: flex;
          justify-content: space-around;
          align-items: center;

          .themeBtn{
            flex: 0 0 40px;
            border-radius: 50%;
            height: 40px;
            cursor: pointer;

            -webkit-b-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
          }

          .whiteBlue{
            background: white;
            border: 4px solid #1E283D;
          }

          .dark{
            background: #22272B;
          }

          .minimalDark{
            background: #16191C;
          }

          .minimalLight{
            background: white;
          }
        }
      }

      &::before{
        content: '';
        display: block;
        border: solid transparent;
        border-right-color: var(--tooltip);
        border-width: 15px;
        height: 0;
        margin-bottom: -10px;
        pointer-events: none;
        position: absolute;
        right: 100%;
        bottom: 26px;
        width: 0;
      }
    }

    &:hover .tooltip, &:active .tooltip{
      visibility: visible;
    }
  }

  ul{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li{
      margin: 1rem 0;

      a{
        width: 40px;
        height: 40px;
        border-radius: 15px;
        padding: 1rem 1rem;
        margin: 0 auto;
        font-size: 1.2rem;
        text-decoration: none;
        cursor: pointer;
        transition: background 0.2s ease;
        display: block;
        text-align: center;
        line-height: calc(40px + .5rem);

        .fas{
          font-size: 1.6rem;
        }

        &:hover{
          background: var(--main);
          color: white;
        }
      }
    }
  }
}

.content{
  background-color: inherit;
  height: 100%;
  width: 100%;
  flex-basis: 100%;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 2;
}

.presentation{
  display: none;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  flex-wrap: wrap;
  align-items: space-around;
  align-content: flex-start;
  justify-content: center;
  padding: 10px;

  .preset{
    border-radius: 10px;
    border: 4px solid var(--border-color);
    padding: 15px 15px;
    margin: 10px;
    background: var(--bg);
    -webkit-b-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    box-sizing: border-box;
    transition: .2s;
    flex: 0 0 30%;
    min-width: 30%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    cursor: pointer;

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h2{
      margin-top: 0;
      width: 100%;
      flex-basis: 100%;
    }

    &:hover {
      transform: translateY(-4px);
      //transform: scale(1.02, 1.02);
    }
  }
}

.mobileOptions{
  display: none;
  width: 100%;
  box-sizing: border-box;
  height: calc( 100% - 460px);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  padding: 0 10px 10px 10px;

  .mobileBtn{
    background: white;
    border-radius: 10px;
    border: 4px solid var(--border-color);
    padding: 15px 15px;
    -webkit-b-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
    transition: .2s;

    h2{
      margin-top: 0;
    }
  }
}

.flex-container{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 7.5px;
  display: none;
  overflow-x: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.statusBox{
  width: 100%;
  display: none;
  //width: calc(100% - 120px);

  .statusGrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100%;
    grid-column-gap: 18px;
    padding: 18px;

    div{
      background: var(--bg);
      border-radius: 10px;
      border: 4px solid var(--border-color);
      padding: 30px 15px;
      -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);

      span:nth-child(1){
        font-size: .94rem;
      }

      span:nth-child(2){
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 5px;
        display: block;
      }
    }
  }
}

.box{
  flex: 0 0 500px;
  height: 600px;
  width: 500px;
  box-sizing: border-box;
  background: var(--bg);
  border: 4px solid var(--border-color);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);

  h1{
    text-align: center;
  }

  .valueField{
    width: 100%;
    min-width: 60px;
    margin-top: 15px;
    text-align: center;
  }

  .textField{
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
  }

  button{
    width: 50px;
    height: 50px;
    background: white;
    border: 4px solid var(--border-color);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    border-radius: 50%;
    transition: all .2s;

    &:hover{
      background: var(--border-color);
    }

    &:hover i{
      color: white;
    }
  }

  .buttons{
    width: 55%;
    flex: 0 0 55%;
    margin-left: auto;

    ul{
      list-style-type: none;
      margin-top: 0;
      padding: 0;
      width: 100%;

      li{
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        padding: 15px 20px;
        border-radius: 10px;
        border: 4px solid var(--btn-border-color);
        transition: .2s;
        cursor: pointer;

        &:hover{
          background: var(--btn-border-color);
          color: var(--btn-hover-color);
        }
      }

      li:nth-child(1), li:nth-child(2), li:nth-child(3){
        margin-bottom: 10px;
      }
    }

    .checked{
      background: var(--green);
      border-color: var(--green);
      color: white;

      &:hover{
        background: var(--green);
        border-color: var(--green);
        color: white;
      }
    }
  }

  // Slider
  .flex-wrapper{
    display: flex;
    box-sizing: border-box;
    padding: 0 30px 0 30px;
    width: 100%;
    height: calc(100% - (36px + 42.880px));
    flex-direction: row;
    justify-content: flex-start;
  }

  .space-between{
    justify-content: space-between;
  }

  #avSliderWrapper:nth-child(1){
    flex-direction: column;
    justify-content: flex-start;
  }

  #mikroSliderWrapper, #mikroMasterSlider-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #mikroSliderWrapper:nth-child(1){
    margin-right: 20px;
  }

  #mikroMasterSlider-wrapper{
    margin-left: auto;

    .noUi-base{
      background: var(--main);
    }

    .noUi-handle{
      border: 4px solid var(--main);

      &:hover, &:active{
        background: var(--main);
      }
    }

    button{
      border-color: var(--main);

      i{
        color: var(--main);
      }

      &:hover{
        background: var(--main);
      }

      &:hover i{
        color: white;
      }
    }

    .valueField{
      color: var(--main);
    }

    .textField{
      color: var(--main);
    }
  }

  #lichtSliderWrapper:nth-child(1), #lichtSliderWrapper:nth-child(2){
    margin-right: 25px;
  }

  #lichtWeissSliderWrapper{
    margin-left: auto;
  }

  .noUi-base{
    background: var(--fader-color);
    width: 4px;
  }

  .noUi-vertical{
    width: 4px;
    height: 310px;
  }

  .noUi-handle{
    display: block;
    background-color: var(--bg);
    border: 4px solid var(--fader-color);
    box-sizing: border-box;
    left: -22.5px;
    width: 50px;
    height: 70px;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
    transition: background-color .2s;

    &:hover, &:active{
      background: var(--fader-color);
    }
  }

  .noUi-target {
    margin: 0 auto;
    background:none;
    border-radius:0;
    border:none;
    box-shadow:none;
    margin-bottom: 65px;
}

  .noUi-handle:before, .noUi-handle:after {
    display: none;
  }
}

.lichtBox, #avBox{
  .valueField{
    width: 100%;
    min-width: 60px;
    position: relative;
    top: 15px;
    text-align: center;
  }

  .textField{
    font-size: 24px;
    margin-top: 35px;
    text-align: center;
  }
  .noUi-vertical{
    width: 4px;
    height: 350px;
  }
}

button{
  cursor: pointer;
}

.visible, .toggleStatus{
  display: block;
}

.toggleMobileOptions{
  display: grid;
}

.flex{
  display: flex;
}

/* Menu */
.menu-item, .menu-open-button {
  background: var(--main);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  color: white;
  text-align: center;
  margin-left: 195px;
  line-height: 100px;
  -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
  -moz-transform: translate3d(0, 0, 0) scale(1, 1);
        transform: translate3d(0, 0, 0) scale(1, 1);
  -webkit-transition: -webkit-transform ease 200ms;
  -moz-transition: -webkit-transform ease 200ms;
  transition: -webkit-transform ease 200ms;
  transition: background .2s;
  transition: color .2s;
  transition: transform ease 200ms;
  transition: transform ease 200ms, -webkit-transform ease 200ms, -moz-transform ease 200ms;
}

#freeze i{
    transform: scale(1.3, 1.3);
}

.menu-open{
  display: none;
}

.menu{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  font-size: 36px;
  text-align: left;
}

.menu-item:hover{
  -webkit-transform: translate3d(0, 0, 0) scale(1.1, 1.1);
  -moz-transform: translate3d(0, 0, 0) scale(1.1, 1.1);
        transform: translate3d(0, 0, 0) scale(1.1, 1.1);
  /*-webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);*/
}

#src{
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
      transform: scale(1, 1);

  svg{
    text-decoration: none;
    fill: #fff;
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  }

  &:hover{
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
  }
}

#blackout, #freeze, #src{
  -webkit-transition-duration: 180ms;
  -moz-transition-duration: 180ms;
    transition-duration: 180ms;
}

.menu-open-button{
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
    transition-duration: 400ms;
  cursor: pointer;

  &:hover{
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    -moz-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  }
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
      transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
      transition-duration: 200ms;
  -webkit-transform: scale(0.7, 0.7) translate3d(0, 0, 0);
  -moz-transform: scale(0.7, 0.7) translate3d(0, 0, 0);
      transform: scale(0.7, 0.7) translate3d(0, 0, 0);
  background: #43E97B;
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  -moz-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ #src {
  -webkit-transition-duration: 180ms;
  -moz-transition-duration: 180ms;
    transition-duration: 180ms;
  -webkit-transform: translate3d(-120px, 90.99997px, 0);
  -moz-transform: translate3d(-120px, 90.99997px, 0);
    transform: translate3d(-120px, 90.99997px, 0);
}

.menu-open:checked ~ #blackout {
  -webkit-transition-duration: 180ms;
  -moz-transition-duration: 180ms;
      transition-duration: 180ms;
  -webkit-transform: translate3d(120px, 90.99997px, 0);
  -moz-transform: translate3d(120px, 90.99997px, 0);
      transform: translate3d(120px, 90.99997px, 0);
}
.menu-open:checked ~ #freeze {
  -webkit-transition-duration: 180ms;
  -moz-transition-duration: 180ms;
      transition-duration: 180ms;
  -webkit-transform: translate3d(0px, 165.99997px, 0);
  -moz-transform: translate3d(0px, 165.99997px, 0);
      transform: translate3d(0px, 165.99997px, 0);
}

/* Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px){
  .parent{
    flex-direction: column;
  }

  .side-nav{
    order: 2;
    width: 100vw;
    flex-basis: 80px;
    flex-direction: row;

    ul {
      margin: 0;
      margin-right: 5px;
      padding: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      li {
        width: 25%;
        margin: 0;

        a{
          padding: .5rem .5rem;
        }
      }
    }

    .savePreset{
      display: none;
    }

    .avatar{
      position: static;
      width: 40px;
      height: 50%;
      margin-right: 15px;

      .tooltip{
        bottom: 81px;
        right: 9px;
        left: auto;
      }
    }
  }

  .modal {
    form{
      input[type="text"]{
        width: 75%;
      }
      .formBtns{
        width: 70%;
      }
      input[type="button"], input[type="submit"]{
        width: 55%
      }
      input[type="submit"]{
        margin-right: 10px;
      }
    }
  }

  .flex-container{
    padding: 10px 0px;
  }

  .content{
    height: calc(100% - 66px);
    width: 100%;
    order: 1;
  }

  .presentation{
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 10px;
    overflow-y: auto;

    .preset{
      border-radius: 10px;
      border: 4px solid var(--border-color);
      padding: 15px 15px;
      margin: 10px;
      -webkit-b-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
      -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
      box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
      transition: .2s;
      flex: 1 1 100%;
      height: 30.5%;

      h2{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 16px;
      }

      &:hover {
        transform: scale(1.02, 1.02);
      }
    }
  }

  .modal{
    width: 300px;
    height: 400px;
  }

  .box{
    flex: 0 0 95%;
    height: 460px;
    box-sizing: border-box;
    border-radius: 10px;

    .noUi-vertical {
      height: 180px;
    }

    .noUi-handle {
      left: -18px;
      top: -25px;
      width: 40px;
      height: 60px;
    }

    .textField{
      font-size: 20px;
      margin-top: 15px;
      width: 100%;
      min-width: 50px;
      text-align: center;
    }

    .valueField{
      font-size: 14px;
    }
  }

  .statusBox{
    display: none;
    width: 100%;

    .statusGrid{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 100%;
      grid-column-gap: 10px;
      padding: 30px;

      div{
        background: var(--bg);
        border-radius: 10px;
        border: 4px solid var(--border-color);
        padding: 50px 15px;
      }
    }
  }

  form{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-item, .menu-open-button{
    margin-top: -10px;
  }

  .menu-item, .menu-open-button{
    margin-left: 38%;
  }

  .menu-open:checked + .menu-open-button {
    -webkit-transform: scale(0.7, 0.7) translate3d(0, 0, 0);
    -webkit-transform: scale(0.7, 0.7) translate3d(0, 0, 0);
        transform: scale(0.7, 0.7) translate3d(0, 0, 0);
    background: #43E97B;
  }

  .menu-open-button, .menu-item{
    width: 80px;
    height: 80px;
    line-height: 80px;
  }


  .menu-open:checked ~ #src {
    -webkit-transition-duration: 180ms;
    -moz-transition-duration: 180ms;
          transition-duration: 180ms;
    -webkit-transform: translate3d(-100px, 60.99997px, 0);
    -moz-transform: translate3d(-100px, 60.99997px, 0);
          transform: translate3d(-100px, 60.99997px, 0);
  }
  .menu-open:checked ~ #blackout {
    -webkit-transition-duration: 180ms;
    -moz-transition-duration: 180ms;
        transition-duration: 180ms;
    -webkit-transform: translate3d(100px, 60.99997px, 0);
    -moz-transform: translate3d(100px, 60.99997px, 0);
        transform: translate3d(100px, 60.99997px, 0);
  }
  .menu-open:checked ~ #up {
    -webkit-transition-duration: 180ms;
    -moz-transition-duration: 180ms;
        transition-duration: 180ms;
    -webkit-transform: translate3d(0px, 125.99997px, 0);
    -moz-transform: translate3d(0px, 125.99997px, 0);
        transform: translate3d(0px, 125.99997px, 0);
  }
}
