@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', 'Montserrat', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: black;
  font-size: 16px; }

* {
  box-sizing: border-box; }

.container {
  width: 980px;
  max-width: 90%;
  margin: 0 auto; }

header {
  width: 100%;
  height: 60vh;
  padding-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EF4C4F;
  color: white; }
  @media (min-height: 0) and (max-height: 840px) {
    header {
      height: 80vh;
      padding-bottom: 25vh; } }
  header figure {
    width: 100px;
    position: absolute;
    left: 25vw; }
    header figure a {
      height: 76px; }
    @media (max-width: 40em) {
      header figure {
        display: none; } }
  header .wave_white {
    position: absolute;
    margin: auto;
    left: -2px;
    right: -2px;
    bottom: 40vh;
    display: block;
    height: 180px;
    width: 101vw;
    background-image: url(../images/bg-waves-white.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transform: rotateY(180deg); }
    @media (max-width: 40em) {
      header .wave_white {
        display: none; } }
    @media (min-height: 0) and (max-height: 840px) {
      header .wave_white {
        bottom: 20vh; } }

@media (max-width: 40em) {
  section {
    padding: 30px 0 30px 0; } }
