html, body{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #EF4C4F;
}

*{
    box-sizing: border-box;
}

.main{
    display: flex;
    height: 60vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

header{
    position: fixed;
    padding: 30px;
    width: 100vw;
    height: 90px;
}

header .menu-inner{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    height: 100%;
    line-height: 30px;
}

header .menu-inner .avatar{
    background-image: url(../images/Mediatrix_Hut.png);
}

.box{
    width: 400px;
    height: 400px;
    background: white;
    color: #1E283D;
    z-index: 10;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 70px 120px -30px rgba(142, 144, 128, .6), 0px 5px 15px rgba(0, 0, 0, 0.1);
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

input[type="text"], input[type="password"]{
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 5px;
    color: #1E283D;
    background: transparent;
    border: 2px solid #1E283D;
    border-radius: 5px;
    outline: none;
}

input[type="submit"]{
    padding: 15px 45px;
    color: white;
    font-size: 1.4rem;
    text-align: center;
    border-radius: 10px;
    background: #EF4C4F;
    outline: none;
    border: none;
    transition: .35s;
    cursor: pointer;
}

input[type="submit"]:hover{
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .2)
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #1E283D;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #1E283D;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #1E283D;
}
:-moz-placeholder { /* Firefox 18- */
  color: #1E283D;
}

.wave{
    background: white;
    height: 40vh;
    width: 100%;
}

.wave_white {
  position: absolute;
  margin: auto;
  left: -2px;
  right: -2px;
  bottom: 40vh;

  display: block;
  height: 180px;
  background-image: url(../images/bg-waves-white.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  transform: rotateY(180deg);
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
    .box{
        width: 300px;
        height: 300px;
    }

    .wave{

    }

    .wave_white{
        width: 100%;
        bottom: calc(25vh - 1px);
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

}
