@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: black;
  font-size: 16px; }

body {
  overflow-x: hidden; }

* {
  box-sizing: border-box; }

.container {
  width: 980px;
  max-width: 90%;
  margin: 0 auto; }
  @media (max-width: 40em) {
    .container {
      width: 120vw; } }

.wrap {
  width: 100%;
  height: 100vh;
  background: white;
  text-align: center; }
  @media (min-height: 0) and (max-height: 840px) {
    .wrap {
      height: 120%; } }
  .wrap .circle {
    background: #EF4C4F;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%; }
  .wrap .wave_white {
    position: absolute;
    margin: auto;
    left: -2px;
    right: -2px;
    bottom: -1px;
    display: block;
    height: 180px;
    background-image: url(../images/bg-waves-white.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transform: rotateY(180deg); }
    @media (max-width: 40em) {
      .wrap .wave_white {
        display: none; } }
    @media (min-height: 0) and (max-height: 840px) {
      .wrap .wave_white {
        bottom: calc(-20% - 1px); } }

header {
  width: 100%;
  padding: 40px 0 0 0;
  position: relative; }
  header ul {
    list-style-type: none;
    color: white;
    padding: 0;
    margin: 0; }
    header ul #logo {
      margin-bottom: 10px; }
    header ul li {
      display: inline-block;
      margin: 8px; }
      header ul li a {
        color: #31363A;
        text-decoration: none;
        transition: .2s; }
        header ul li a:visited {
          color: #31363A; }
        header ul li a:hover {
          color: white; }

.landing {
  padding-top: 20px;
  position: relative;
  width: 100%; }
  .landing .upper {
    margin-bottom: 50px; }
  .landing h1 {
    font-weight: 900;
    font-size: 48px;
    color: white; }
  .landing p {
    width: 66.666%;
    height: auto;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #f3f3f3;
    padding-bottom: 40px;
    line-height: 1.9; }
    @media (max-width: 40em) {
      .landing p {
        padding-bottom: 0;
        line-height: 1.7;
        width: 95%; } }
  @media (max-width: 40em) {
    .landing img {
      width: 80vw; } }
  .landing a {
    font-size: 20px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    padding: 0.70em 1.20em;
    border-radius: 5px;
    border: 2px solid white;
    transition: .2s; }
    @media (max-width: 40em) {
      .landing a {
        display: none; } }
    .landing a:hover {
      background: white;
      color: #EF4C4F; }

@media (max-width: 40em) {
  .columns {
    text-align: center; } }

.columns p {
  line-height: 1.9; }

.features {
  position: relative;
  height: auto;
  padding: 50px; }
  .features .columns {
    padding: 30px .9375rem; }
  @media (max-width: 40em) {
    .features .f1 div:nth-child(1) {
      order: 2; } }
  @media (max-width: 40em) {
    .features .f2 div:nth-child(2) {
      order: 1; } }
  @media (max-width: 40em) {
    .features .f3 div:nth-child(1) {
      order: 2; } }
  @media (max-width: 40em) {
    .features {
      height: auto;
      padding: 50px 0; } }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.team {
  margin-bottom: 100px;
  text-align: center; }
  .team img {
    border-radius: 10px; }
  .team .names div {
    display: inline-block;
    margin: 10px 30px; }

.status {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #2D2D2D;
  color: white; }
  .status .ampel {
    position: relative;
    display: block;
    margin: 0 auto;
    background-color: #222;
    width: 120px;
    height: 320px;
    border-radius: 30px; }
    @media (max-width: 40em) {
      .status .ampel {
        width: 80px;
        height: 200px;
        border-radius: 20px; } }
  .status input {
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 80px;
    top: 20px;
    margin-left: 20px;
    background-color: grey;
    vertical-align: middle;
    border-radius: 100%;
    display: block; }
    @media (max-width: 40em) {
      .status input {
        width: 40px;
        height: 40px;
        top: 25px; } }

footer {
  background: #171717;
  width: 101vw;
  height: 55vh;
  color: white; }
  @media (min-height: 0) and (max-height: 840px) {
    footer {
      width: 100vw; } }
  footer .wave_black {
    position: relative;
    z-index: 10;
    margin: auto;
    box-sizing: border-box;
    top: -120px;
    display: block;
    height: 120px;
    background-image: url(../images/bg-waves-black.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transform: rotateY(180deg); }
    @media (max-width: 40em) {
      footer .wave_black {
        display: none; } }
    @media (min-height: 0) and (max-height: 840px) {
      footer .wave_black {
        display: none;
        top: 0;
        bottom: 0; } }
  footer .foot_top {
    padding: 4.5rem 2.5vw;
    margin: 4.5rem auto 4.5rem auto; }
    @media (max-width: 40em) {
      footer .foot_top {
        margin: 2rem auto 2rem auto; } }
    footer .foot_top a {
      float: left; }
      footer .foot_top a h1 {
        font-size: 3em;
        line-height: 67px; }
    footer .foot_top h1 {
      right: 0;
      font-family: "Montserrat" !important;
      float: right; }
  footer .foot_bottom {
    padding: 0 2.5vw;
    color: #F9f9f9; }
    footer .foot_bottom .float_left {
      color: #F9f9f9;
      text-decoration: underline;
      float: left; }
      footer .foot_bottom .float_left:hover {
        text-decoration: none; }
    footer .foot_bottom .float_right {
      color: #F9f9f9;
      text-decoration: underline;
      float: right; }

#color1 {
  background-color: #b30000; }

#color2 {
  background-color: #b3b300; }

#color3 {
  animation: blink3 1s step-end infinite; }

@keyframes blink1 {
  0% {
    background-color: #FF0000; }
  50% {
    background-color: #b30000; } }

@keyframes blink2 {
  0% {
    background-color: #FFFF00; }
  50% {
    background-color: #b3b300; } }

@keyframes blink3 {
  0% {
    background-color: #00FF00; }
  50% {
    background-color: #00b300; } }
