<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Metadaten -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mediatrix | Dashboard</title>

        <!-- jQuery -->
        <script src="js/jquery-3.2.1.min.js"></script>
        <script
        src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
        integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
        crossorigin="anonymous"></script>

        <!-- Stylesheets -->
        <link rel="stylesheet" href="css/material.css">
        <link rel="stylesheet" href="css/snackbar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="css/dashboard.css">

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/Mediatrix_Hut_rot.png" type="image/x-icon">
        <link rel="icon" href="images/Mediatrix_Hut_rot.png" type="image/x-icon">
    </head>
    <body>
      <div class="parent" id="app">
          <div class="side-nav">
              <ul>
                  <li><a href="#" id="camera"><i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-volume-up" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></a></li>
                  <li><a href="#"><i class="fa fa-desktop" aria-hidden="true"></i></a></li>
              </ul>

              <div class="avatar">
                <div class="img"></div>
              </div>
          </div>
          <div class="content">
              <div class="statusbox">
                  <div class="statusgrid">
                      <div>Beamer Eingang:</div>
                      <div>Master: </div>
                      <div>Mikro 1:</div>
                      <div>Mikro 2:</div>
                      <div>Helligkeit: </div>
                      <div>mega</div>
                  </div>
              </div>

              <div class="flex-container">
                  <div class="box" id="avbox">
                    <h1>AV-Receiver</h1>
                    <div class="wrapper" >
                      <input type="range" v-model="p1" min="0" max="100" value="0" class="slider" id="av-slider" data-id="0">
                      <p class="p1">{{p1}}</p>
                      <p class="av-slider-text">Master</p>
                      <!--
                      <span class="slider">0</span>
                      <span class="slider">0</span>
                      <span class="slider">0</span>
                      -->


                      <div class="buttons">
                        <ul>
                            <li class="mode">Präsentation</li>
                            <li class="mode">Musik</li>
                            <li class="mode">Film</li>
                            <li class="mode">Universal</li>
                        </ul>
                      </div>

                    </div>

                  </div>
                  <div class="box" id="beamerbox">
                    <h1>Beamer</h1>
                    <nav class="menu">
                        <input type="checkbox" href="#" class="menu-open" id="power"/>
                        <label class="menu-open-button" for="power">
                            <i class="fa fa-power-off" aria-hidden="true"></i>
                        </label>

                        <a href="#" class="menu-item" id="src">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M21 3.01H3c-1.1 0-2 .9-2 2V9h2V4.99h18v14.03H3V15H1v4.01c0 1.1.9 1.98 2 1.98h18c1.1 0 2-.88 2-1.98v-14c0-1.11-.9-2-2-2zM11 16l4-4-4-4v3H1v2h10v3z"/>
                            </svg>
                        </a>
                        <a href="#" class="menu-item clickable" id="menu"> <i class="fa fa-bars"></i> </a>
                        <a href="#" class="menu-item clickable" id="up"> <i class="fa fa-caret-up"></i> </a>
                        <a href="#" class="menu-item clickable" id="right"> <i class="fa fa-caret-right"></i> </a>
                        <a href="#" class="menu-item clickable" id="down"> <i class="fa fa-caret-down"></i> </a>
                        <a href="#" class="menu-item clickable" id="left"> <i class="fa fa-caret-left"></i> </a>
                        <a href="#" class="menu-item clickable" id="ok"> OK </a>
                    </nav>
                  </div>
                  <div class="box" id="mikrofonbox">
                    <h1>Mikrofone</h1>
                    <div class="wrapper">
                      <input type="range" v-model="p2" min="0" max="100" value="0" class="slider" id="mikro1-slider" data-id="0">
                      <p class="p2">{{p2}}</p>
                      <input type="range" v-model="p3" min="0" max="100" value="0" class="slider" id="mikro2-slider" data-id="0">
                      <p class="p3">{{p3}}</p>
                    </div>
                  </div>
                  <div class="box" id="lichtbox">
                    <h1>Licht</h1>
                    <div class="wrapper">
                      <input type="range" v-model="p4" min="0" max="255" value="0" class="slider" id="mikro1-slider" data-id="0">
                      <p class="p4">{{p4}}</p>
                      <input type="range" v-model="p5" min="0" max="255" value="0" class="slider" id="mikro2-slider" data-id="0">
                      <p class="p5">{{p5}}</p>
                    </div>
                  </div>
              </div>
          </div>
          <span style="display: none;" class="btn" data-toggle="snackbar" data-content="message" data-timeout=0>Snackbar</span>
      </div>
      <script src="js/snackbar.js"></script>
      <script src="js/main.js"></script>
      <script src="https://unpkg.com/vue@2.5.9/dist/vue.js"></script>
      <script src="js/vue_app.js"></script>
      <script>
      /*
      $(".flex-wrapper > span").each(function() {
        var value = parseInt($(this).text());
        $(this).slider({
          value: value,
          min: 0,
          max: 255,
          range: "min",
          orientation: "vertical",
          slide: function(event, ui) {
            $("#amount").val(ui.value);
          }
        });
        $("#amount").val( $(".slider").slider("value") );
      });


        $(".slider").change(function(){
          var val = $(this).val();
          var id = $(this).attr("data-id");

          console.log("sending request: " + id + ":" + val);*/

          /*$.ajax({
            url: "php/send.php",
            data: {"channel" : id, "value" : val},
            success: function(result){
              console.log("success");
            },
            error: function(result){
              console.log("error");
            }
          });
        })*/
      </script>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54135273-3"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-54135273-3');
      </script>
    </body>
</html>
